{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
    <div class="card w-50 mt-5">
        <div class="card-body">
            <h2>Lista de Robôs de {{cliente.nome_da_empresa}}</h2>
            {%for robo in robos%}
            <div class="row my-3 mx-2">
                <a class="btn btn-primary" href="/robos/{{robo.codigo}}">Visualizar dados do Robô {{robo.codigo}}</a>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}